div.clinicalTrialGadget{
	font-family: Arial;
}

div.view-profile .header-title{
	margin-top: 7px;
	margin-left: 7px;
}

.header-text{
	position: relative;
	bottom: 8px;
	padding: 2px;
	color:#990000;
	font-size: 16px;
	font-weight: bold;
}

.instruction{
	font-size: 13px;
	padding: 10px;
	font-weight: bold;
	color:#990000;
	border-left: 1px dotted #d6d6d6;
	border-right: 1px dotted #d6d6d6;
	border-top: 1px dotted #d6d6d6;
}

ul#trial-list, ul#trial-list-feat{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li.trial{
	padding: 10px 5px 10px 5px;
	margin: 0px 0px 1px 0px;
}

div.view-home li.trial:hover{
	background: #EEEEEE;
}

div.view-home li.trial{
	border: 1px dotted #d6d6d6;
	cursor: move;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

div.view-home li.trial:active{
	border: 1px dotted #d6d6d6;
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.icon-wrap{
	float: right;
	padding: 2px;
}

.icon-eye, .icon-star{
	padding: 2px;
	cursor: pointer;
}

div.view-profile .icon-eye, 
div.view-profile .icon-star,
div.view-profile li.trial-hidden{
	display: none;
}

div.view-home li.trial-hidden {
    border: 1px dotted #d1d1d1;
    cursor: default;
}

div.view-home li.trial-hidden div.title a{
    color: #CCCCCC;
}

div.view-home li.trial-hidden div.detail span{
    color: #CCCCCC;
}

div.view-home li.trial-hidden:hover{
	background-color: transparent;
}

.title a{ 
	color:#267196;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}

div.view-home .title a{
	color:#267196;
	pointer-events: none;
	cursor: default;
}

div.view-home .title{
	padding-right: 60px;
}

.detail{
	font-size: 11px;
	padding: 1px;
	margin-left: 0px; 
	text-transform: uppercase;
}

.statImg{
	position:relative;
	bottom: -3px;
}

.status{
	margin-left: 5px;
	color:#990000;
}

.disease{
	color:#000000;
}

.site{
	color:#777777;
}

div.view-profile .icon-feat{
	float: left;
	position: relative;
	margin-right: 5px;
}

div.view-home .icon-feat,
div.view-home .feat-text,
div.view-home li.trial-hidden img.icon-star
{
	display: none;
}

.feat-text{
	float:left;
	position: relative;
	font-size: 13px;
	color:#990000;
	margin-right: 4px;
	bottom: -2px;
}

.plusbutton, .minusbutton {
	font-size: 13px;
	line-height: 20px;
	position: absolute;
	bottom: 20px;
	right: 0;
	margin: 0;
	padding: 0 0 0 9px;
	color: #4d8ba9;
}

.plusbutton:hover, .minusbutton:hover{
	text-decoration: underline; 
	cursor: pointer; 	
}
/*
#show{
	display:none;
}

#clear{
	display:none;
}
*/