
.clinicalTrialGadget{
	font-family: Arial;
}

.HeaderTitle{
	position: relative;
	bottom: 8px;
	padding: 5px;
	color:#990000;
	font-size: 18px;
	font-weight: bold;

}

ul#trial-list{
	list-style-type: none;
	margin: 5px;
	padding: 0;
}

li.trial{
	padding: 10px 5px 10px 5px;
	margin: 1px 0px 1px 0px;
}

div.home-view li.trial:hover{
	background: #d6d6d6;
}

div.home-view li.trial{
	border: 1px dotted #d6d6d6;
	cursor: move;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}


div.home-view li.trial:active{
	border: 1px dotted #d6d6d6;
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}


.eye-icon{
	float: right;
	padding: 2px;
}

div.profile-view .eye-icon{
	visibility: hidden;
}

.star-icon{
	float: right;
	padding: 2px;
}

div.profile-view .star-icon{
	visibility: hidden;
}

.title{
	color:#267196;
	font-size: 15px;
	font-weight: bold;
	margin: 0px;
}

div.home-view .title{
	padding-right: 50px;
	pointer-events: none;
	cursor: default;
}

.detail{
	font-size: 12px;
	padding: 1px;
	margin-left: 0px; 
	text-transform: uppercase;
}

.statImg{
	position:relative;
	bottom: -3px;
}

.status{
	margin-left: 5px;
	color:#990000;
}

.disease{
	color:#000000;
}

.site{
	color:#777777;
}
