
.clinicalTrialGadget{
	font-family: Arial;
}

.HeaderTitle{
	position: relative;
	bottom: 8px;
	padding: 5px;
	color:#990000;
	font-size: 18px;
	font-weight: bold;

}

ul#trialList{
	list-style-type: none;
	margin: 5px;
	padding: 0;
}

li.trial{
	padding: 10px 5px 10px 5px;
	margin: 1px 0px 1px 0px;
	border: 1px dotted #d6d6d6;
}

li.trial:hover{
	background: #d6d6d6;
}

.eye-icon{
	float: right;
	padding: 2px;
}

.star-icon{
	float: right;
	padding: 2px;
}

.title{
	color:#267196;
	font-size: 15px;
	font-weight: bold;
	padding-right: 50px;
	margin: 0px;
}

.detail{
	font-size: 12px;
	padding: 1px;
	margin-left: 0px; 
	text-transform: uppercase;
}

.statImg{
	position:relative;
	bottom: -3px;
}

.status{
	margin-left: 5px;
	color:#990000;
}

.disease{
	color:#000000;
}

.site{
	color:#777777;
}
